[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
torch = "*"
psycopg2 = "*"
torchvision = "*"
pytorch-lightning = "*"
transformers = "*"
faiss-cpu = "*"
pytube = "*"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3.11"
