[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
psycopg2 = "*"
aiohttp = "*"
flask = {extras = ["async"], version = "*"}
asgiref = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.6"
