[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
flask = "*"
pandas = "*"
graphdatascience = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
